#executables and libraries
*.so
*.out
*.exe
*.app

#objects and other compiled files
moc_*
*.o
*.a
.qmake.stash
Makefile
LongQt
LongQtGrapher
LQGridEditor
build/*
cmake_install.cmake
PyLongQt_autogen/
CMakeCache.txt
CMakeFiles/
*.Release
*.Debug

#data files and temp text editor files
data*/
defaultTrials/
*.swp
*.swo

#qt creator
*.pro.user*
*.user*

#kdev files
.kdev4/
*.kdev4

#precompiled version
versions

#docs
site/

*.DS_Store
